body {
  font-family: "Noto Sans", sans-serif;
}

#content {
  display: block;
  text-align: center;
}

#content h1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

#search input,
#search label {
  display: block;
  margin-bottom: 5px;
}

#search {
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

#search input {
  margin-bottom: 20px;
}
